body {
    background-image:url(image/back.jpg);
    background-size: cover;
}
.score {
    box-shadow: 1px 2px 7px whitesmoke;
    color: whitesmoke;
    border-radius: 10px;
}
.btn {
    box-shadow: 1px 2px 7px whitesmoke;
}
.btn:hover {
    box-shadow: 3px 4px 5px rgb(153, 153, 153);
}
.heading {
    text-shadow: 2px 3px 5px rgb(153, 153, 153);
}
.opt {
    background-color: rgba(175, 175, 175, 0) !important;
    color: white !important;
    box-shadow: 2px 3px 7px whitesmoke !important;
}
.active {
    background-color: rgb(150, 150, 150) !important;
}
@media screen and (max-width: 991px) {
    body {
        background-image:url(image/back.jpg);
        background-size: cover;
        background-size: auto;
        background-repeat: space;
    }
}
